.english-cards-box {
  padding: 3.2vw;
  background-color: #e2f2fe;

  .category-box {
    margin-top: 3.2vw;

    &:first-child {
      margin-top: 0;
    }
  }

  .category-title {
    img {
      height: 5.8vw;
      width: auto;
    }
  }

  .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card-item {
      margin-top: 3.2vw;
      width: 29.06vw;
      background-color: #fff;
      border-radius: 12px;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
    }
  }
}